@charset "UTF-8";
@import url("./header.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
* {
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: rgb(27, 27, 27);
}

a:visited,
a {
  color: black;
  text-decoration: none;
}

.base_wrapper {
  max-width: 1240px;
  margin: auto;
}

.dsd-h1,
.dsd-h2,
.dsd-btn {
  font-family: "Rubik Mono One", monospace;
}

.dsd-h3,
.dsd-text1,
.dsd-text2,
.dsd-text3,
.dsd-text4,
.dsd-btn-stroke {
  font-family: "Montserrat", sans-serif;
}

/*HEADER*/
/*2DP Desk*/
/*colors*/
@media (max-width: 1178px) {
  .base_wrapper {
    max-width: 882px;
    margin: auto;
  }
}
@media (max-width: 920px) {
  .base_wrapper {
    max-width: 348px;
    margin: auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23.5px 8.6px;
  position: relative;
}

.burger-menu {
  color: white;
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}

.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 42px;
  align-items: center;
}
.header-list li a {
  text-decoration: none;
  color: inherit;
}

.header-li,
.header-li-gr {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.header-li-gr {
  color: rgb(198, 255, 52);
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 110px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #000000;
  cursor: pointer;
}

@media (max-width: 1178px) {
  .header-li,
  .header-li-gr {
    font-family: "Unbounded";
    font-size: 14.93px;
    font-weight: 700;
    line-height: 23.89px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
@media (max-width: 920px) {
  .header-list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 99;
    animation: fadeIn 0.3s ease-in-out;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .nav-menu li {
    padding: 10px;
    text-align: center;
  }
  .nav-menu.active {
    display: block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.product-card {
  cursor: pointer;
}

.product-card-img {
  border-radius: 20px;
  width: 387px;
  height: 386px;
  gap: 0px;
  opacity: 0px;
}

.product-card-title {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 387px;
}

@media (max-width: 1178px) {
  .product-card-img {
    width: 275px;
    height: 275px;
  }
  .product-card-title {
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.75px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    width: 275px;
    margin-top: 21px;
  }
}
@media (max-width: 920px) {
  .product-card {
    margin: auto;
  }
  .product-card-img {
    width: 348px;
    height: 348px;
  }
  .product-card-title {
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.75px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    width: 348px;
  }
}
/*lets implement your idea*/
.lets-implement-your-idea {
  margin-top: 150px;
}

.order-title {
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}

.custom-form-div {
  margin-top: 71px;
}

.custom-form-input {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  border: none;
  width: 97.8%;
  margin-top: 13px;
  padding: 25px 0 25px 30px;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-form-input:focus {
  outline: none;
}

.custom-form-input-title {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}

.long-button {
  background-color: rgb(198, 255, 52);
  font-family: "Unbounded";
  font-size: 25px;
  font-weight: 900;
  line-height: 37.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 20px;
  margin-top: 75px;
  margin-bottom: 200px;
  padding: 30px;
  text-align: center;
}

@media (max-width: 1178px) {
  .lets-implement-your-idea {
    margin-top: 106px;
  }
  .order-title {
    font-family: Unbounded;
    font-size: 29px;
    font-weight: 700;
    line-height: 35.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .custom-form-input-title {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .custom-form-input {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 20px 0 20px 30px;
    border-radius: 7px;
  }
  .custom-form-div {
    margin-top: 42px;
  }
  .long-button {
    font-family: Unbounded;
    font-size: 14.93px;
    font-weight: 900;
    line-height: 23.89px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    margin-top: 42px;
  }
}
/*О нашей студии*/
.about-studia {
  margin-top: 106px;
}

.as-title {
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}

.as-subtitle {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 40px;
}

/*Процесс работы*/
.work-process {
  margin-top: 150px;
}

.wp-title {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.work-process-ol {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}

.work-process-li {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  padding: 40px 50px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  list-style-position: inside;
}

.work-process-li::after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 15px;
  background-image: url("../../public/arrow-bot.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.work-process-li.active::after {
  transform: translateY(-50%) rotate(90deg);
}

@media (max-width: 1178px) {
  .as-title {
    font-family: Unbounded;
    font-size: 29px;
    font-weight: 700;
    line-height: 35.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .as-subtitle {
    margin-top: 28px;
  }
  .work-process {
    margin-top: 106px;
  }
  .wp-title {
    font-family: Unbounded;
    font-size: 29px;
    font-weight: 700;
    line-height: 35.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .work-process-li {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 28px 35px;
    border-radius: 7px;
  }
}

/*# sourceMappingURL=about.css.map */
