@use "./main.scss" as main;
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 23.5px 8.6px;
}

.header-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 42px;
  align-items: center;
}

.header-li,
.header-li-gr {
  @include main.tdp-desk-bar-1;
  @include main.tdp-white-color;
  cursor: pointer;
}
.header-li-gr {
  @include main.tdp-green-color;
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 110px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #000000;
  opacity: 0px;

  cursor: pointer;
}

@media (max-width: 1178px) {
  .header-li,
  .header-li-gr {
    @include main.tdp-desk-bar-2;
    cursor: pointer;
  }
}
