@import url("./header.css");

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

*{
    padding: 0;
    margin: 0;
}
.base_wrapper{
    max-width: 1083px;
    margin:auto;
}

.dsd-h1,
.dsd-h2,
.dsd-btn{
    font-family: "Rubik Mono One", monospace;
}

.dsd-h3,
.dsd-text1,
.dsd-text2,
.dsd-text3,
.dsd-text4,
.dsd-btn-stroke{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.dsd-h1{
    font-size: 34px;
    font-weight: 400;
    line-height: 52px;
    text-decoration-skip-ink: none;
}
.dsd-h2{
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    text-decoration-skip-ink: none;
}
.dsd-h3{
    font-size: 21px;
    font-weight: 900;
    text-decoration-skip-ink: none;
}
.dsd-text1{
    font-size: 21px;
    font-weight: 700;
    text-decoration-skip-ink: none;
}
.dsd-text2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2px;
    text-decoration-skip-ink: none;
}
.dsd-text3{
    font-size: 17px;
    font-weight: 700;
    text-decoration-skip-ink: none;
}
.dsd-text4{
    font-size: 18px;
    font-weight: 700;
    text-decoration-skip-ink: none;
}
.dsd-btn-stroke{
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 2px;
    text-decoration-skip-ink: none;
    cursor: pointer;
    }
.dsd-btn{
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    cursor: pointer;
}
.sign-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 110px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #000000;
    opacity: 0px;
}
/*custom shared items*/
.big-black-button{
    background-color: #000000; /*Color 1*/
    color: #FFFFFF; /*Color 3*/
    display: flex;
    width: 438px;
    height: 71px;
    border-radius: 39px;

    align-items: center;
    justify-content: center;
}
.big-white-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 71px;

    border: 2px solid rgba(0, 0, 0, 1);/*Color */
    border-radius: 39px;
}
.styled-hr{
    margin: 66px 0px;
}

/*clarity-graphic-studio*/
.clarity-graphic-studio{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 111px;
}
.cgs-left-col{
    display: flex;
    flex-direction: column;
    gap:106px
}
.cgs-right-col{

}
.cgs-studio-title{
    display: flex;
    gap:20px;
}
.cgs-studio-title-white{
    color: #FFFFFF;
    -webkit-text-stroke: 2px black;
}
.cgs-principles{
    width: 514px;
}
/*what we can do*/
.wwcd-title{
    text-align: right;
}
.wwcd-button-menu{
    display: grid;
    grid-template-columns: 525px 525px;
    row-gap: 31px;
    column-gap: 33px;
    margin-top: 61px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 66px;

    border: 2px solid rgba(141, 153, 174, 0.25);/*Color */
    border-radius: 50.69px;
}
.wwcd-big-white-button{
    margin-top: 49px;
}
/*conceptual-portfolio*/
.conceptual-portfolio-store{
    display: grid;
    grid-template-columns: repeat(3, 331.96px);
    row-gap: 44px;
    column-gap: 35px;

    justify-content: center;

    margin-top: 44px;
}
.product-card{

}
.product-card-img{
    border: 1px solid #000000;
    border-radius: 7.48px;

    width: 331.96px;
    height: 331px;
    gap: 0px;
    opacity: 0px;
}
.product-card-title{
    margin-top: 22px;
    width: 332px;
}
.cncptl-prtfl-big-white-button{
    margin-top: 44px;
}
/*lets implement your idea*/
.custom-form-div{
    margin-top: 71px;
}
.custom-form-input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 15px 0 13px 0;
}
.custom-form-input:focus {
    outline: none;
}
.custom-form-input-title{

}