@import url("./header.css");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: rgb(27, 27, 27);
}
a:visited,
a {
  color: black;
  text-decoration: none;
}

.base_wrapper {
  max-width: 1240px;
  margin: auto;
}

.dsd-h1,
.dsd-h2,
.dsd-btn {
  font-family: "Rubik Mono One", monospace;
}

.dsd-h3,
.dsd-text1,
.dsd-text2,
.dsd-text3,
.dsd-text4,
.dsd-btn-stroke {
  font-family: "Montserrat", sans-serif;
}

.dsd-h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
  text-decoration-skip-ink: none;
}
.dsd-h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-decoration-skip-ink: none;
}
.dsd-h3 {
  font-size: 21px;
  font-weight: 900;
  text-decoration-skip-ink: none;
}
.dsd-text1 {
  font-size: 21px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
.dsd-text2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2px;
  text-decoration-skip-ink: none;
}
.dsd-text3 {
  font-size: 17px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
.dsd-text4 {
  font-size: 18px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
.dsd-btn-stroke {
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 2px;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
.dsd-btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  cursor: pointer;
}

.text-1,
.tdp-text-1 {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tdp-text-2 {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header-1 {
  font-family: "Unbounded";
  font-size: 64px;
  font-weight: 700;
  line-height: 79.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*2DP Desk*/

.tdp-desk-bar-1 {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tdp-desk-bar-2 {
  font-family: "Unbounded";
  font-size: 14.93px;
  font-weight: 700;
  line-height: 23.89px;
  letter-spacing: 0.09em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.tdp-desk-button-1 {
  font-family: "Unbounded";
  font-size: 25px;
  font-weight: 900;
  line-height: 37.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tdp-header-1 {
  font-family: "Unbounded";
  font-size: 64px;
  font-weight: 700;
  line-height: 79.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tdp-header-2 {
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*colors*/

.tdp-white,
.tdp-white-color {
  color: rgba(255, 255, 255, 1);
}

.tdp-green-color {
  color: rgba(198, 255, 52, 1);
}

.tdp-green-bg {
  background-color: rgba(198, 255, 52, 1);
}

.tdp-grey-bg {
  background-color: rgba(39, 39, 39, 1);
}

.tdp-black-cl {
  color: rgba(27, 27, 27, 1);
}

.tdp-black-bg {
  background-color: rgba(27, 27, 27, 1);
}

/*custom shared items*/
.big-button {
  display: flex;
  width: 473px;
  height: 79px;
  border-radius: 20px;

  align-items: center;
  justify-content: center;
}
.csi-big-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 79px;

  border-radius: 20px;
}
.styled-hr {
  margin: 66px 0px;
}

/*clarity-graphic-studio*/
.clarity-graphic-studio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 111px;
  width: 822px;
}
.cgs-left-col {
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.cgs-right-col {
}
.cgs-studio-title {
  display: flex;
  gap: 20px;
}

.cgs-principles {
}
/*what-are-we-doing*/
.what-are-we-doing {
  margin-top: 150px;
}
.wawd-title {
}
.wwcd-button-menu {
  display: grid;
  grid-template-columns: 598px 598px;
  row-gap: 44px;
  column-gap: 50px;
  margin-top: 45px;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 79px;
  background-color: rgba(29, 29, 29, 1);
  border-radius: 20px;
}
.wwcd-big-button {
  margin-top: 49px;
}

/*lets implement your idea*/
.lets-implement-your-idea {
  margin-top: 150px;
}
.custom-form-div {
  margin-top: 71px;
}
.custom-form-input {
  color: rgba(255, 255, 255, 1);
  border: none;
  width: 97.8%;
  margin-top: 13px;
  padding: 25px 0 25px 30px;
  background-color: rgba(39, 39, 39, 1);
  border-radius: 20px;

  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.custom-form-input:focus {
  outline: none;
}
.custom-form-input-title {
}
.long-button {
  border-radius: 20px;
  margin-top: 75px;
  margin-bottom: 200px;
  padding: 30px;
  text-align: center;
}

@media (max-width: 1080px) {
}
