@import url("./header.css");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: rgb(27, 27, 27);
}
a:visited,
a {
  color: black;
  text-decoration: none;
}

.base_wrapper {
  max-width: 1240px;
  margin: auto;
}

.dsd-h1,
.dsd-h2,
.dsd-btn {
  font-family: "Rubik Mono One", monospace;
}

.dsd-h3,
.dsd-text1,
.dsd-text2,
.dsd-text3,
.dsd-text4,
.dsd-btn-stroke {
  font-family: "Montserrat", sans-serif;
}

@mixin dsd-h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
  text-decoration-skip-ink: none;
}
@mixin dsd-h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-decoration-skip-ink: none;
}
@mixin dsd-h3 {
  font-size: 21px;
  font-weight: 900;
  text-decoration-skip-ink: none;
}
@mixin dsd-text1 {
  font-size: 21px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
@mixin dsd-text2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2px;
  text-decoration-skip-ink: none;
}
@mixin dsd-text3 {
  font-size: 17px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
@mixin dsd-text4 {
  font-size: 18px;
  font-weight: 700;
  text-decoration-skip-ink: none;
}
@mixin dsd-btn-stroke {
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 2px;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
@mixin dsd-btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  cursor: pointer;
}

@mixin tdp-text-1 {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-text-2 {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-text-3 {
  font-family: Unbounded;
  font-size: 15px;
  font-weight: 400;
  line-height: 30.75px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-text-6 {
  font-family: Unbounded;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.72px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*HEADER*/

@mixin header-1 {
  font-family: "Unbounded";
  font-size: 64px;
  font-weight: 700;
  line-height: 79.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin subheader-4 {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 900;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*2DP Desk*/

@mixin tdp-desk-bar-1 {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-desk-bar-2 {
  font-family: "Unbounded";
  font-size: 14.93px;
  font-weight: 700;
  line-height: 23.89px;
  letter-spacing: 0.09em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@mixin tdp-desk-button-1 {
  font-family: "Unbounded";
  font-size: 25px;
  font-weight: 900;
  line-height: 37.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-header-1 {
  font-family: "Unbounded";
  font-size: 64px;
  font-weight: 700;
  line-height: 79.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin tdp-header-2 {
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*colors*/

@mixin tdp-white-color {
  color: rgba(255, 255, 255, 1);
}

@mixin tdp-green-color {
  color: rgba(198, 255, 52, 1);
}

@mixin tdp-green-bg {
  background-color: rgba(198, 255, 52, 1);
}

@mixin tdp-grey-bg {
  background-color: rgba(39, 39, 39, 1);
}

@mixin tdp-black-color {
  color: rgba(27, 27, 27, 1);
}

@mixin tdp-black-bg {
  background-color: rgba(27, 27, 27, 1);
}

@media (max-width: 1178px) {
  .base_wrapper {
    max-width: 882px;
    margin: auto;
  }
}
