@use "./header.scss";
@use "./orderForm.scss";
@use "./card.scss";
@use "./main.scss" as main;
/*conceptual-portfolio*/
.conceptual-portfolio {
  margin-top: 150px;
  margin-bottom: 150px;
}
.conceptual-portfolio-store {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  row-gap: 44px;
  column-gap: 35px;

  justify-content: center;

  margin-top: 44px;
}
.cp-title {
  @include main.tdp-header-2;
  @include main.tdp-white-color;
}
.product-card {
}
.product-card-img {
  border-radius: 20px;

  width: 387px;
  height: 386px;
  gap: 0px;
  opacity: 0px;
}
.product-card-title {
  margin-top: 30px;
  width: 387px;
}
.cncptl-prtfl-big-white-button {
  margin-top: 44px;
}
