@use "./header.scss";
@use "./orderForm.scss";
@use "./card.scss";
@use "./main.scss" as main;
/*conceptual-portfolio*/
.conceptual-portfolio {
  margin-top: 150px;
  margin-bottom: 150px;
}
.conceptual-portfolio-store {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  row-gap: 44px;
  column-gap: 35px;

  justify-content: center;

  margin-top: 44px;
}
.cp-title {
  @include main.tdp-header-2;
  @include main.tdp-white-color;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; // Растягивание карточек
}
.product-card-img {
  border-radius: 20px;

  width: 387px;
  height: 386px;
  gap: 0px;
  opacity: 0px;
}
.product-card-title {
  margin-top: 30px;
  width: 387px;
  @include main.tdp-text-1;
  overflow: hidden;
}
.cncptl-prtfl-big-white-button {
  margin-top: 44px;
}

@media (max-width: 1178px) {
  .conceptual-portfolio-store {
    display: grid;
    grid-template-columns: repeat(3, 275px);
    row-gap: 35px;
    column-gap: 28px;

    justify-content: center;

    margin-top: 44px;
  }

  .product-card-img {
    border-radius: 20px;
    width: 275px;
    height: 275px;
  }
  .product-card-title {
    margin-top: 21px;
    width: 275px;
    @include main.tdp-text-3;
  }
}

@media (max-width: 920px) {
  .conceptual-portfolio-store {
    display: grid;
    grid-template-columns: repeat(2, 168px);
    row-gap: 20px;
    column-gap: 20px;

    justify-content: center;

    margin-top: 20px;
  }

  .product-card-img {
    border-radius: 20px;
    width: 164px;
    height: 164px;
  }
  .product-card-title {
    margin-top: 21px;
    width: 164px;
    @include main.tdp-text-5;
  }
}
