@import url("./header.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
* {
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: rgb(27, 27, 27);
}

a:visited,
a {
  color: black;
  text-decoration: none;
}

.base_wrapper {
  max-width: 1240px;
  margin: auto;
}

.dsd-h1,
.dsd-h2,
.dsd-btn {
  font-family: "Rubik Mono One", monospace;
}

.dsd-h3,
.dsd-text1,
.dsd-text2,
.dsd-text3,
.dsd-text4,
.dsd-btn-stroke {
  font-family: "Montserrat", sans-serif;
}

/*HEADER*/
/*2DP Desk*/
/*colors*/
@media (max-width: 1178px) {
  .base_wrapper {
    max-width: 882px;
    margin: auto;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 23.5px 8.6px;
}

.header-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 42px;
  align-items: center;
}

.header-li,
.header-li-gr {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.header-li-gr {
  color: rgb(198, 255, 52);
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 110px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #000000;
  opacity: 0px;
  cursor: pointer;
}

@media (max-width: 1178px) {
  .header-li,
  .header-li-gr {
    font-family: "Unbounded";
    font-size: 14.93px;
    font-weight: 700;
    line-height: 23.89px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
  }
}
.product-card {
  cursor: pointer;
}

.product-card-img {
  border-radius: 20px;
  width: 387px;
  height: 386px;
  gap: 0px;
  opacity: 0px;
}

.product-card-title {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 275px;
}

@media (max-width: 1178px) {
  .product-card-img {
    width: 275px;
    height: 275px;
  }
  .product-card-title {
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.75px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 21px;
  }
}
/*lets implement your idea*/
.lets-implement-your-idea {
  margin-top: 150px;
}

.order-title {
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}

.custom-form-div {
  margin-top: 71px;
}

.custom-form-input {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  border: none;
  width: 97.8%;
  margin-top: 13px;
  padding: 25px 0 25px 30px;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-form-input:focus {
  outline: none;
}

.custom-form-input-title {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}

.long-button {
  background-color: rgb(198, 255, 52);
  font-family: "Unbounded";
  font-size: 25px;
  font-weight: 900;
  line-height: 37.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 20px;
  margin-top: 75px;
  margin-bottom: 200px;
  padding: 30px;
  text-align: center;
}

@media (max-width: 1178px) {
  .lets-implement-your-idea {
    margin-top: 106px;
  }
  .order-title {
    font-family: Unbounded;
    font-size: 29px;
    font-weight: 700;
    line-height: 35.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .custom-form-input-title {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .custom-form-input {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 20px 0 20px 30px;
    border-radius: 7px;
  }
  .custom-form-div {
    margin-top: 42px;
  }
  .long-button {
    font-family: Unbounded;
    font-size: 14.93px;
    font-weight: 900;
    line-height: 23.89px;
    letter-spacing: 0.09em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    margin-top: 42px;
  }
}
.tab-service-wrapper {
  background-color: rgb(39, 39, 39);
  margin-top: 36px;
}

.tab-service {
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-service-title {
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 900;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: rgb(198, 255, 52);
  color: rgb(27, 27, 27);
  display: inline-block;
  padding: 0 10px;
  margin-top: 45px;
}

.tab-block {
  background-color: rgb(39, 39, 39);
}

.tab-service-text {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  margin-top: 17px;
}

.tab-main-text {
  font-family: "Unbounded";
  font-size: 21px;
  font-weight: 400;
  line-height: 43.05px;
  letter-spacing: 0.14em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  max-width: 722px;
}

.tab-left-col {
  background-color: rgb(39, 39, 39);
  max-width: 549px;
}

.service-tab-img {
  background-color: rgb(39, 39, 39);
  width: 513px;
  height: 513px;
  margin-top: auto;
}

@media (max-width: 1178px) {
  .tab-main-text {
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.75px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .tab-service-title {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 900;
    line-height: 32.8px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .tab-service-text {
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.75px;
    letter-spacing: 0.14em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .service-tab-img {
    width: 345px;
    height: 345px;
  }
}
.what-we-do {
  margin-top: 104px;
  margin-bottom: 182px;
}

.work-process {
  margin-top: 150px;
}

.wwd-title {
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 41px;
  font-weight: 800;
  line-height: 50.84px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.work-process-ol {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}

.wwd-li {
  font-family: Unbounded;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.72px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 39, 39);
  padding: 40px 50px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.wwd-li::after {
  content: "";
  position: absolute;
  right: 50px;
  top: 57px;
  transform: translateY(-50%);
  width: 29px;
  height: 15px;
  background-image: url("../../public/arrow-bot.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.wwd-li.active::after {
  transform: rotate(180deg);
}

@media (max-width: 1178px) {
  .base_wrapper {
    max-width: 882px;
    margin: auto;
  }
  .wwd-title {
    font-family: Unbounded;
    font-size: 29px;
    font-weight: 700;
    line-height: 35.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .wwd-li {
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 29px 35px;
    border-radius: 10px;
  }
  .wwd-li::after {
    right: 30px;
    top: 42px;
    width: 29px;
    height: 15px;
  }
}

/*# sourceMappingURL=services.css.map */
