.tab-service-wrapper {
  margin-top: 36px;
}
.tab-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab-service-title {
  display: inline-block;
  padding: 0 10px;
  margin-top: 45px;
}
.tab-service-text {
  margin-top: 17px;
}
.tab-main-text {
  max-width: 722px;
}
.tab-left-col {
  max-width: 549px;
}
.service-tab-img {
  width: 513px;
  height: 513px;
  margin-top: auto;
}
